# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
Debug/
Release/
[Bb]uild/
[Ll]og/

# Entity Framework migrations backup files
*.ide
*.dbmdl

# Rider / JetBrains
.idea/
*.iml

# NuGet packages
*.nupkg
packages/
*.snupkg

# Others
*.dll
*.exe
*.pdb
*.cache
*.log
*.vsidx

# User-specific
*.userprefs
*.userosscache
